/* 
   
   Why i call this override.css, because this is the place where i will override the 
   ready-to-use frameworks like Bootstrap, Angular Material design as per my needs.

*/

html, body {
    color: #424242;
    background-color: #fff;
}

.spacer {
   margin-top: 56px;
}

.navbar {
    background-color: white;
    border-bottom: 1px solid #eee;
}
.nav-link {
    font-weight: bold;
}

#navbarSupportedContent {
    padding-left: 50px;
}
.jumbotron {
    background:#16a085;
    color: white;
}

.jumptarget::before {
  content:"";
  display:block;
  height:56px; /* fixed header height*/
  margin:-56px 0 0; /* negative fixed header height */
}

.custom-heading {
    position: relative;
    display: inline-block;
    margin-bottom: 1.2rem;
}

#jumbo-action .btn {
    color: white;
    border-color: #ffe484;
    font-size: 1.25rem;
    padding: 1rem 2rem;
    font-weight: 500;
    background-color: transparent;

}

#jumbo-action .btn:hover {
    color: #424242;
    background-color: #ffe484;
}

#jumbo-action .btn-fill {
    color: #424242;
    background-color: #ffe484;
}

.badge {
    font-size: 1.5rem;
    position:absolute;
    right: -5rem;
    top:0;
    color: #ffe484;
}

footer {
    background-color: #f7f7f7;
    padding: 3rem 0;
    margin-top: 4rem;
    font-size: 85%;
}

footer ul {
    list-style-type: none;
    font-weight: bold;
    padding: 0;
}

footer li {
     display: inline-block;
     margin-right: 2rem;
}

.block {
    padding: 2rem;
    padding-left: 0;
    /*border-bottom: 1px solid #eee;*/
}

.block h2 {
    font-weight: normal;
    margin-bottom: 1.3rem;
}

.column-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

.column-item  {
    width: 50%;
    padding: 20px;
    margin-bottom: 3rem;
}

.column-item:nth-child(1) {
    padding-left: 0;
}

.md-default-theme {
    background-color: #fff;
}

md-content  {
    min-height: 250px;
    background-color: none;
    padding: 1rem 0;
}

md-tab code.hljs {
    background: none;
}

.output-frame {
    border: 1px solid #ddd;
    border-radius: 4px 4px;
    height: 300px;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

h1 {
    padding-bottom: 1.2rem;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0.5rem;
}

h1.custom-heading  {
    padding-bottom:0rem;
    border: none;
}

h4 {
    margin: 1rem 0;
}
