<section class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="custom-heading display-2">Angular Gauge <span class="badge badge-default">2.0.0</span></h1>
        <p class="lead">A highly customizable gauge directive for Angular JS apps and dashboards. </p>
        <br>
        <div id="jumbo-action">
            <a class="btn btn-fill btn-lg" role="button" href="https://github.com/ashish-chopra/angular-gauge/releases" target="_blank">Download</a>            &nbsp;
            <a class="btn btn-lg" role="button" href="https://github.com/ashish-chopra/angular-gauge" target="_blank">Code on GitHub</a>
        </div>
    </div>
</section>
<section id="getting-started" class="jumptarget" ng-include="'templates/getting-started.html'"></section>
<section id="documentation" class="jumptarget" ng-include="'templates/documentation.html'"></section>
<section id="demos" class="jumptarget" ng-include="'templates/demos.html'"></section>